body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

input:focus {
  outline: none; /* Remove default outline */
  border: none; /* Remove default border */
  box-shadow: none; /* Remove default box-shadow */
  border: 1px solid rgb(227, 58, 58) !important;
  box-shadow: 0 0 8px rgb(227, 58, 58) !important;
}
