.navbar-container {
  background-color: white !important;
}
.login-btn {
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #515151;
  background-color: white;
  border: 1px solid #515151;
  border-radius: 75px;
  cursor: pointer;
}

.login-btn:hover {
  color: white;
  background-color: red;
  border: 1px solid red;
}
.login-btn:active {
  background-color: red !important;
}

/* Custom class for Nav.Link elements */
.nav-linkk {
  position: relative; /* Needed for the hover effect */
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Maintain the current text color */
  transition: border-bottom 0.3s ease; /* Optional: add a transition effect */
}

/* Hover effect to add a border at the bottom */
.nav-linkk:hover::after {
  content: ""; /* Empty content for the pseudo-element */
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 100%; /* Cover the full width of the link */
  height: 2px; /* Adjust as needed */
  background-color: red;
}

.nav-linkk:hover {
  color: red;
}

@media (max-width: 768px) {
  .nav-login-cart {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 20px;
  }
  .login-btn {
    padding: 8px 20px;
    font-size: 15px;
    border-radius: none !important;
  }
}
