.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}
.color-button.ant-radio-button-wrapper-checked {
  border: 3px solid #000; /* Black border around the selected circle */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Shadow around the selected circle */
  padding: 5px; /* Remove padding to keep the circle size consistent */
}

.ant-radio-button-wrapper {
}

.size-button {
  display: inline-block;
  width: 40px; /* Adjust width as desired */
  height: 40px; /* Adjust height as desired */
  text-align: center;
  line-height: 40px; /* Center the text vertically */
  border-radius: 4px; /* Slightly rounded corners for a square shape */
  margin-right: 10px; /* Add spacing between sizes */
  margin-left: 10px; /* Add spacing between sizes */
  cursor: pointer; /* Make the squares clickable */
  border: 1px solid #ccc; /* Add a border around the squares */
}

/* Apply styles to the selected size button */
.size-button.ant-radio-button-wrapper-checked {
  background-color: #f0f0f0; /* Light gray background color for the selected button */
  border: 2px solid #000; /* Black border around the selected button */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
  color: #000; /* Optional: text color for the selected button */
}

.quantity-container {
  border: 1px solid #ccc; /* Add a border around the squares */
  padding: 5px; /* Add padding to the container */

  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.quantity-button {
  background-color: white; /* White background color for the buttons */
  color: black; /* Black text color for the buttons */
  border: none; /* Remove the default button border */
  font-size: 25px; /* Adjust font size as desired */
  font-weight: bold; /* Make the text bold */
  cursor: pointer; /* Make the buttons clickable */
}
.quantity-button:hover {
  background-color: white; /* Change background color on hover */
  color: #000; /* Change text color on hover */
}

.quantity-input {
  text-align: center; /* Center the text in the input */
  border: none; /* Remove the default input border */
  font-size: 25px; /* Adjust font size as desired */
}

.fixed-right {
  position: sticky !important;
  top: 0px !important;
}
